.wrapper {
  margin-bottom: 60px;
  width: 614px;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
  min-height: 400px; // todo: remove after Post will be done
}

.postFooter {
  padding: 0 16px;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 14px 16px;
}

.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.profileLink {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #262626;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

.locationLink {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  color: #262626;
  font-family: Arial, sans-serif;
}

.time {
  color: #999;
  font-size: 10px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
