.wrapper {
  margin-bottom: 60px;
  width: 614px;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.postHeader {
  display: flex;
  align-items: center;
  padding: 14px 16px;
}

.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.profileLink {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #262626;
  font-weight: 600;
  font-family: Arial, sans-serif;
  margin-right: 10px;
  cursor: pointer;
}

.locationLink {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  color: #262626;
  font-family: Arial, sans-serif;
}

.time {
  color: #999;
  font-size: 10px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.post_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    cursor: pointer;
  }

  path {
    color: #ed4956;
  }

  .likeCount {
    margin-left: 5px;
    margin-right: 20px;
    color: #ed4956;
  }

  .commentScore {
    margin-left: 5px;
    margin-right: auto;
    color: #3897f0;
  }
}

.post {
  &_btn {
    margin-right: 10px;
    float: left;
    cursor: pointer;

    path {
      color: #262626;
    }

    &:hover {
      path {
        color: #ed4956;
      }
    }
  }

  &_body {
    padding: 0 16px;
  }

  &_text {
    margin: 10px 0 6px;
    display: inline-block;
    width: 100%;
  }

  &_footer {
    padding: 0 16px;
    margin-top: 10px;
  }

}
